// Utilities (Colors, font, etc)
@import "./assets/css/variables";
@import "./assets/css/mediaqueries";
@import "./assets/css/_triangles";
@import "./assets/css/footer";
@import "./assets/css/fadeIn";
@import "./assets/css/hamburger";
@import "./assets/css/common";

body{
    max-width: 100vw !important;
    overflow-x: hidden !important;
}


.info-container{
    padding-top: 4vh;
    margin-left: 10%;
}

    .info{
        width: $info-div-width;

        p{
            margin-bottom: 0;
            margin-top: 0;
        }

        h1{
            word-spacing: -3px;
            position: absolute;
            bottom: 0;
            margin-bottom: 1px;
            font-size: $mobile-header-font;
            font-weight: lighter;
        }
    }

    .info-spacer{
        float: right;
        width: $info-spacer-width;
    }

    .header-box{
        height: 3.8em;
        position: relative;
        margin-right: -1px;
    }

img{
    position: absolute;
    width: auto;
    bottom: 0;
    right: 0;
    max-width: 100vw;
}


$section-pic-height: 57%;
$section-height: 62%;
.section-pic{
    height: $section-pic-height;
    z-index: 3;
    padding-right: 10px;
}


.mission{
    width: 100%;
    height: $section-height;
    position: relative;

    h1{
        color: $dark-font;
        padding-left: $text-padding;
    }

    p{
        padding-left: $text-padding;
        color: $dark-font;
    }
}


.vision{
    width: 100%;
    height: $section-height;
    position: relative;
    background-color: $secondary-color;

    img{
        height: 50%;
        left: 10px;

    }

    p{
        text-align: right;
        padding-right: $text-padding;
        color: $darker-font;
    }

    h1{
        right: $text-padding;
        color: $darker-font;
    }
}

    .vision .info-container{
        margin-left: 0; 
        margin-right: 10%;
    }

.pillars{
    width: 100%;
    height: $section-height;
    position: relative;

    p{
        text-align: left;
        padding-left: $text-padding;
        color: $darker-font;
    }

    h1{
        left: $text-padding;
        color: $dark-font;
    }
}


// Reused values div for History, fix naming later**
.values{
    width: 100%;
    padding-bottom: 39vh;
    position: relative;
    background-color: $base-color;
}

    .values p{
        text-align: left;
        padding-left: $text-padding;
        color: $dark-font;
    }

    .values h1{
        left: $text-padding;
        color: $dark-font;

    }

    .values .info-container{
        margin-left: 10%;    
        
        ul{
            padding-left: 20px;
            margin-top: 0;
        }

        ul li{
            list-style-type: none;
            color: $dark-font;
            padding-top: 6px;
        }
    }

        .values .info{
            width: 85%;
        }


        .values img{
            right: 10px;
        }

        .values .section-pic{
            height: 40%;
        }


        span{
            font-weight: bold;
        }

#history .triangle-light{ 
    border-color: transparent transparent $footer-color transparent;

}

#history img{
    height: 29%;
    bottom: 36px;
}
#history{
    height: 70%;
}


// Page Specific Footer dimensions
.footer{
    height: 21% !important;
}
    .social-alert{
        padding-bottom: 35px !important;
    }


@media only screen and (min-width: $phone-big){
    .mission .info-container, .pillars .info-container{
        margin-left: 11%;
    }

    .vision .info-container, .values.info-container{
        margin-right: 11%;
    }
        .section-pic{
            height: 57%;
        }

        .mission p, .pillars p{
            padding-left: 20px;
            color: $dark-font;
            padding-right: 100px;
        }

        .vision p, .values p{
            padding-left: 100px;
        }
    
        p{
            font-size: $phone-big-p-font !important;
        }
}


@media only screen and (min-width: $tablet-mini){
    .section-pic{
        height: 57%;
    }

    .header-box, .info-spacer {
        height: 5.8em;
    }

    .info p{
        font-size: $tablet-mini-p-font !important;
    }

    .values .section-pic{
        height: 57%;
    }

    h1{
        font-size: 3em;
    }

    h2{
        font-size: 3.8em !important;
    }
}

@media only screen and (min-width: $tablet-big){
    .section-pic{
        height: 61%;
    }

    .header-box, .info-spacer {
        height: 6.8em;
    }

    h1{
        font-size: 4em;
    }

    .info p{
        font-size: 1.8em;       
    }
}

@media only screen and (min-width: $desktop-mini){
    .mission .info-container, .pillars .info-container {
        margin-left: 10%;
    }

    .vision .info-container, .values .info-container {
        margin-right: 10%;
    }

    .section-pic {
        height: 87%;
    }

    .mission p, .pillars p {
        font-size: 1.5em;
        padding-right: 40%;
    }

    .vision p, .values p{
        font-size: 1.5em;
        // padding-left: 40%;
    }

    h2{
        font-size: 3rem !important;
    }

    .values li{
        font-size: 1.3em !important;
    }

    .landing{
        background: url('./assets/pictures/about/kennandrich.jpg') !important;
    }
}


@media only screen and (min-width: $desktop-medium){
    .info p{
        font-size: 1.3em !important;
    }

    .mission .info-container, .pillars .info-container {
        margin-left: 15%;
    }
        .mission .section-pic, .pillars .section-pic{
            margin-right: 3vw;
        }

        .mission p, .pillars p {
            font-size: 1.5em;
            padding-right: 55%;
        }

    .vision .info-container, .values .info-container {
        margin-right: 15%;
    }
        .vision .section-pic, .values .section-pic{
            margin-left: 3vw;
        }

        // .vision p, .values p {
        //     font-size: 1.5em;
        //     padding-left: 55%;
        // }

    .values p{
        padding-left: 1.2em;
        padding-right: 34%;
    }

    .values .info-container{
        margin-left: 18%;
    }
}


@media only screen and (min-width: $desktop-big){

    h1{
        font-size: $tablet-big-header-font !important;
    }

    .mission{
        margin-top: 1%;
    }

    .mission .info-container, .pillars .info-container {
        margin-left: 18%;
    }

    .vision .info-container, .values.info-container {
        margin-right: 18%;
    }

    .section-pic {
        height: 70% !important;
    }

    #history img{
        height: 52% !important;

        margin-left: 14%;
    }

    // .mission p, .values p {
    //     font-size: 1.5em;
    //     padding-right: 48%;
    // }

    .vision p{
        font-size: 1.5em;
        padding-left: 48%;
    }

    #fade-left {
        margin-right: 14vw;
    }

    #fade-right {
        margin-left: 14vw;
    }

    .pillars p{
        padding-right: 52%;
    }

    .pillars:before{
        left: -42%;
    }
}


// Special Case Media Queries
// Dimensions are 1000x600 to 1400x800p
@media (min-width: 1100px) and (max-width: 1600px) and (min-height: 600px) and (max-height: 1000px){
    #history .section-pic{
        height: 37% !important;
        left: 15vw !important; 
    }

    .footer{
        height: 26% !important;
    }
}

@media screen and (min-height: 1000px){
    .social-alert{
        padding-bottom: 62px !important;
    }
}