// Media Queries
$phone-big: 600px;
$tablet-mini: 768px;
$tablet-big: 1024px;
$desktop-mini: 1200px;
$desktop-medium: 1400px;
$desktop-big: 1600px;



// Font Media Queries
$mobile-header-font: 2em;
$mobile-p-font: 1em;

$phone-big-p-font: 1.1em;

$tablet-mini-header-font: 3em;
$tablet-mini-p-font: 1.3em;


$tablet-big-header-font: 4em;
$tablet-big-p-font: 1.5em;

$desktop-mini-p-font: 1.5em; 
$desktop-landing-height: 85%;