@import "variables";

// Creating the triangle, not SVG because doign it this way is more compatible with browsers
.triangle-light{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $triangle-dimensions;
    border-color: transparent transparent $base-color transparent;
    bottom: -1px;
    position: absolute;    
    z-index: 8;
}

.triangle-dark{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $triangle-dimensions;
    border-color: transparent transparent $secondary-color transparent;
    position: absolute;    
    bottom: -1px;  
    position: absolute;    
    z-index: 8;
}

.triangle-footer{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $triangle-dimensions;
    border-color: transparent transparent $secondary-color transparent;
    position: absolute;    
    z-index: 2;
    transform: scale(-1,-1);
    margin-top: -1px;
}
